.upgradeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 343px;
  margin: 0 auto;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 343px;
  margin: 0 auto;
  width: 100%;
}
