.container {
  display: flex;
  flex-direction: column;
  position: relative;

  min-height: calc(100vh - 110px);
  justify-content: space-between;
}

.characterContainer {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

.checkNewsButton {
  background-color: #2a79ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

.absolute {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  top: calc(100vh - 700px);
  z-index: 1;
}

.icon {
  width: 60px;
  height: 60px;
}