.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  background-image: url("https://staggering.tonkombat.com/assets/background_main-_hLDX_01.webp");
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  /* height: 100vh; */
}

.checkNewsButton {
  background-color: #2a79ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

.absolute {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  top: 100px;
}

.icon {
  width: 60px;
  height: 60px;
}
