.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 110px);
    gap: 2rem;
}

.airdrop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: row;
    gap: .75rem;
    align-items: center;
    justify-content: start;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 0.75rem;
}

.sectionImage img {
    width: 40px;
    height: 40px;
}

.sectionInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sectionContent {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: start;
    justify-content: center;
}

.sectionContent :first-child {
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
}

.sectionContent :last-child {
    font-size: .75rem;
    line-height: 1rem;
    color: rgb(209 213 219 /1);
}
.balance {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.claimButton {
    color: rgb(11 39 70 / 1);
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgb(12 109 189 / 1);
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

p {
    padding: 0;
    margin: 0;
    text-align: start;
}