.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heroTop {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  max-width: 50%;
}

.heroImage {
  width: 40px;
  height: 40px;
}

.heroRank {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.heroRank img {
  width: 20px;
  height: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.mainAction {
  top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.mainCharacters {
  padding-top: 3rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  height: 10.7rem;
}

.character {
  display: flex;
  max-width: 50%;
}

.character::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 50%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255);
  background: radial-gradient(#2e90fa, #1570ef) no-repeat;
  background-size: 50% 60%;
  background-position: 30% 75%;
  filter: blur(25px) opacity(0.3);
  content: "";
}

.character::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  width: 50%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 /1);
  background: radial-gradient(#b6271f, #bc4c46) no-repeat;
  background-size: 60% 70%;
  background-position: 75% 90%;
  filter: blur(25px) opacity(0.3);
  content: "";
}


.actionContent {
  padding: 0rem 1rem;
}

.button {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
}

.tabs {
  display: flex;
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.statsLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}

.statsRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}