/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 343px;
}

/* Title */
.title {
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
}

.tabButton {
  display: flex;
  /* align-items: center; */
  gap: 12px;
  margin-top: 16px;
}

.button {
  background-color: transparent;
  color: #3182ce;
  border: 1px solid #3182ce;
  border-radius: 9999px;
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
}

.active {
  background-color: #3182ce;
  color: #fff;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-top: 24px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.description {
  font-size: 1rem;
  color: #4a5568;
  margin-top: 6px;
}