body {
  font-family: Arial, sans-serif;
  background-color: #1d2b4e;
  color: white;
  text-align: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  background-image: url("https://staggering.tonkombat.com/assets/background_main-_hLDX_01.webp");
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  /* height: 100vh; */
}
