.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: calc(100vh - 40px);
  background-image: url("https://staggering.tonkombat.com/assets/background_main-_hLDX_01.webp");
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;

}